* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    padding: 16px 0;
    background-color: rgb(33, 33, 36);
    color: #fff;
    margin-bottom: 24px;
}

header, section h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem-destaque {
    height: 340px;
    margin-right: 40px;
}

.produtos {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    column-gap: 1%;
    row-gap: 5%;
    width: 100%;
}

.produto img {
    max-width: 100%;
    width: 320px;
    outline: gray solid 1px;
    outline-offset: -1px;
}

.produto a{
    text-decoration: none;
    color: black ;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h1 {
    
    padding: 2px 0;
}

section h2 {
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: #000 solid 3px;
}

section p {
    padding: 0 0 8px 0;
}

form button {
    background-color: rgb(33, 33, 36);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    font-weight: bold;
}

form button:hover {
    background-color: #fff;
    color: #000;
    outline: #000 solid 1px;
    outline-offset: -1px;
}

footer {
    background-color: rgb(33, 33, 36);
    color: #fff;
    text-align: center;
    margin-top: 24px;
    bottom:0;
    width:100%;
    padding: 10px 5px;
    font-size: 14px;
}

@media screen and (max-width:640px){
    
    .container {
        max-width: 90%;
    }

    header {
        margin-bottom: 40px;
    }

    header .container {
        display: block;
    }

    header nav {
        padding: 15px 0;
    }

    header nav li {
        margin-left: 0;
        margin-right: 15px;
    }
   
    section .container {
        flex-direction: column;
    }

    section {
        padding: 0;
    }

    section h2 {
        margin: 34px 0;
    }

    .imagem-destaque {
        width: 100%;
        margin: 0;
    }

    .produtos {
        max-width: 100%;
    }

    .produto img {
        width: 100%;
        outline: gray solid 1px;
        outline-offset: -1px;
    }

    article {
        width: 100%;
        margin: 0  0 40px 0;
    }

    footer {
        margin-top: 12px;
    }
}

@media screen and (min-width:641px) and (max-width:1023px) {

    .container {
        width: 90%;
    }

    .produtos {
        display: grid !important;
        max-width: 100%;
        grid-template-columns: repeat(2, 49%);
        column-gap: 1%;
        row-gap: 1.5%;
        width: 100%;
    }

    .produto img {
        width: 100%;
        outline: gray solid 1px;
        outline-offset: -1px;
    }
    article {
        width: 100%;
        margin: 10px 0;
    }

}